header {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 45px;
    font-weight: bold;
    background-color: lightblue;
}
.block {
    display: flex;
    min-height: 100px;
}
main {
    min-height: 100px;
    width: 65%;
    background-color: lightcoral;
}
p {
    display:flex;
    justify-content: center;
}
#bck2 {
    display: flex;
    justify-content: space-around;
    }
    #es1 {background-color: aqua;
    width: 50%;
    text-align: center;}
    #es2 {background-color: pink;
    width: 50%;
    text-align: center;}
    #es3 {
        margin-top: 20px;
        text-align: center;
        background-color: bisque;
        height: 50px;
    }
aside {
    min-height: 100px;
    width: 35%;
    background-color: lightblue;
    text-align: center;
}
footer {display: flex;
background-color: grey;
justify-content: space-around;
height: 30px;
}
.foo {background-color: aliceblue;}